.example-spacer {
  flex: 1 1 auto;
}

button.add-entry-button {
  margin-right: 10px;
}

div.container {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 40px;
}

.navbar {
  background-color: lightblue;
}
