<mat-toolbar class="navbar">
  <button (click)="navigateToHome()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span class="title">SleepTracker</span>
  <span class="example-spacer"></span>
  <button [routerLink]="'record'" class="add-entry-button" mat-raised-button>Add record by recording</button>
  <button [routerLink]="'add'" class="add-entry-button" mat-raised-button>Add record with form</button>
</mat-toolbar>

<div class=container>
  <router-outlet />
  <router-outlet />
</div>
