<div class="mat-elevation-z8">
  <h1>Sleep Records</h1>

  <!-- Delete Button at the Top -->
  <div class="div-btn">
    <button 
      mat-fab 
      aria-label="Delete Selected Record" 
      (click)="deleteRecord()" 
      [disabled]="!selectedRecord" 
      color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <!-- Table for Sleep Records -->
  <table mat-table [dataSource]="sleepData" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element" 
          (click)="selectRecord(element)" 
          [class.selected]="selectedRecord?.id === element.id">
        {{element.id}}
      </td>
    </ng-container>

    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let element" 
          (click)="selectRecord(element)" 
          [class.selected]="selectedRecord?.id === element.id">
        {{element.sleepStart}}
      </td>
    </ng-container>

    <!-- End Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End </th>
      <td mat-cell *matCellDef="let element" 
          (click)="selectRecord(element)" 
          [class.selected]="selectedRecord?.id === element.id">
        {{element.sleepEnd}}
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element" 
          (click)="selectRecord(element)" 
          [class.selected]="selectedRecord?.id === element.id">
        {{element.sleepDuration}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row"
        [class.selected]="selectedRecord?.id === row.id"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
