table {
  width: 70%;
}


div.mat-elevation-z8 {
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 10px;
}

h1 {
  display: inline;
  float: left;
  margin-top: 20px;
  
}

div.div-btn {
  float: right;
}

.selected {
  background-color: rgba(0, 123, 255, 0.2); /* Highlight the row with a background color */
  cursor: pointer; /* Indicate that the row is clickable */
}
.selected:hover {
  background-color: rgba(0, 123, 255, 0.3);
}
.custom-row {
  cursor: pointer;
}
